* {
        padding:2px;
        font-family: Helvetica, Georgia, Arial;
}

/*Background for site created in Photoshop*/
#background {
    position:fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    z-index:-1;
    background-image:url(img/background.jpg);
}
    
/*Header*/
header  {
    background-image:url(img/index.jpg);
    width:960px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
}
        
/*Wrapper for site*/

#wrapper {
        width:960px;
        overflow:auto;
        margin-left:auto;
        margin-right:auto;
        background-color:white;
        padding-bottom:15px;
        padding-top:15px;
}

/*styles for links learned how to do this on http://stackoverflow.com/questions/18839582/center-a-horizontal-css-menu*/

a   {
    color:#31b7b1; /*teal to match header*/
    text-decoration:none;
}

article a:visited, a:focus {
    color:#31b7b1;
    text-decoration:none;
}

/*My top navigation*/
nav {
    width:960px;
    font-size:24px;
    margin:auto;
    text-align: center;
    border:1px
}

nav ul ul {
    display:none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align:top;
}

nav ul li {
    float:left;
    margin:0;
    padding:0;
}

nav ul li:hover a {
    color#000000;
    ]

nav ul li a {
        display: block;
        padding: 10px 15px;

/*Headings*/

article {
    margin:30px 30px 10px 30px;
        }

h1 {
    font-size:30px;
    margin-bottom:5px;
    font-style:normal;
    margin-top:10px;
        }
h2 {
    font-size:24px;
    padding:2px;
    margin-left:10px;
        }

h3 {
    font-size:18px;
    padding:2px;
    line-height:1.3;
    margin-left:20px;
    margin-bottom:20px;
        }
        
    section {
        margin-left:210px;
        }
    
    section.center { /*note here about centering content*/
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        }

p {
        font-family:arial, helvetica, sans-serif;
        font-size:14px;
        line-height:24px;
        text-indent:20px;
        margin:10px;
        }
        
/*Photos*/
img {        
        margin:0 5% 0 5%;
        width:90%;
        
        }
        
img.center {
        display:block;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        }

.left {
	margin-right:15px;
	float:left;
	}
		
.right {
	margin-left:15px;
	float:right;
	}

    #CompositePicture 	{ /*For photo on index.html*/
	width:210px;
	font-size:11px;
	}

/*Lists*/

        article ul	{ /*indent list*/
    list-style-position:inside;
    text-indent:20px;
    color: #f88379;
    font-style:italic;
    padding:10px
	}

/*this will make the bullet points #f88379 coral and the text will still be black*/
        
article ul span	{
	color:black;	
	}

/*contact.html css*/
/*I need a space around each contact link*/
article a.space	{
	padding:10px;
	}
/*Hopefully this will make all of those links center and line up horizontally*/
article p.indent	{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	}
       
/*Footer Navigation */
footer nav {
	width:960px;
	font-size:11px;
    text-align:center;
    list-style:none;
	}

footer nav a {
	display:inline-block;
	color:white;
	background-color:#6fc9c5;
	text-decoration:none;
	padding:5px;
	}
	
footer nav a:hover,a:focus {
	color:black;
	text-decoration:none;
	background-color:yellow;
	}

footer nav p {
/*for text inside footer navigation */
	line-height:-2px;
	font-size:9px;
	text-indent:0px;
	}        

/*can't get this CSS to show up on my html pages when I look at live preview right now. Need to rewatch CSS videos*/