* {
        padding:2px;
        font-family: optima, arial, sans-serif;
}

/*Background for site created in Photoshop*/
#background {
    position:fixed;
    top: 0;
    left: 0;
    max-width:100%;
    min-height:100%;
    z-index: -1;
}
    
/*header*/


header	{
	max-width:80%;
	height:150px;
	margin-left:auto;   
	margin-right:auto; 
	margin-bottom:50px;
    padding-bottom:50px;
    padding-top:30px;
    align-content:center;
	}

/*header still acting funky need to fix it and also need to make higher quality header*/

/*wrapper*/

#wrapper {
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding-top:15px;
    padding-bottom:30px;
}

/*headlines*/

article {
    margin: 30px 30px 10px 30px;
    max-width:80%;
}

h1 {
    font-size:36px;
    font-style:none;
    text-align:center;
    margin-top:20px;
    margin-bottom:5px;
    color:#C7F464;
}

h2 {
    font-size:24px;
    font-style:normal;
    margin-top:10px;
    margin-bottom:2px;
    text-indent:0px;
    color:#556270;
}

h3 {
    font-size:16px;
    font-style:normal;
    margin-top:-1px;
    margin-bottom:5px;
    text-indent:15px;
    color:#000000;
}

h4 {
    font-size:12px;
    font-style:normal;
    margin-top:-1px;
    margin-bottom:5px;
    text-indent:15px;
    color:#C44D58;
}

p {
    font-size:14px;
    line-height:20px;
    text-indent:20px;
    margin:5px;
}

section {
    margin-left:210px;
}

iframe {
    align-content:center;
}

/*top navigation*/

/*tried to learn how to make horizontal links for nav on http://stackoverflow.com/questions/18839582/center-a-horizontal-css-menu but only the bottom one would separate, but found way to make it work on http://csswizardry.com/2011/01/create-a-centred-horizontal-navigation/*/

nav {
    max-width:100%;
    font-size:24px;
    text-align:center;
}

nav a {
    display:inline-block;
    color:white;
    background-color:#f88379;
    text-align:center;
    text-decoration:none;
    padding:5px;
}

nav a:hover,a:focus {
    color:#000000;
    text-decoration:none;
    background-color:#C44D58;
    text-align:center;
}


/*list styles*/

article ul {
    list-style-position:inside;
    font-style:normal;
    color:#C44D58;
    margin-bottom:20px;
}

article a {
    list-style-position:inherit;
    margin-bottom:20px;
    text-align:center;
}



/*footer navigation*/

footer nav {
    max-width:100%;
    font-size:14px;
    text-align:center;
    list-style:none;
}

footer nav a {
    max-width:100%;
    display:inline-block;
    color:white;
    background-color:#f88379;
    text-decoration:none;
    padding:5px;
}

/*this will make footer nav dark pink when you scroll over it*/

footer nav a:hover,a:focus {
    color:#000000;
    text-decoration:none;
    background-color:#C44D58;
    text-align:center;
}


/*make copyright and site maintained part of footer smaller*/

footer nav p {
    line-height:-1px;
    font-size:10px;
    text-align:center;
}